body, html {
	width: 100%;
	height: 100%;
}

.nav-item {
	margin-right: 20px;
	text-align: center;
	letter-spacing: 1px;
}

.jumbotron {
	height: 100vh;
	background-color: black;
}

.container {
	text-align: center;
	padding-top: 200px;
	color: white;

}

hr {
	background-color: white;
	max-width: 350px;
	margin-bottom: 50px;
}



.buttons {
	color: #ff8914;
	background: none; 
	border: 4px solid #ff8914;
	border-radius: 6px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    /*transition-duration: 0.4s;*/
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.buttons:hover {
	background: white;
	transition: all 0.3s;
	color: #ff8914;
}

.buttons2 {
	color: #ff8914;
	background: none; 
	border: 4px solid #ff8914;
	border-radius: 6px;
    color: #706965;
    padding: 16px 32px;
    text-align: center;
   /* display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    /*transition-duration: 0.4s;*/
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.buttons2:hover {
	transition: all 0.3s;
	color: #ff8914;
}

.color {
	color: #706965;
}
